*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/libs/java-client-7.1.0.jar
/app/src/libs/junit-4.12.jar
/app/src/libs/selenium-server-standalone-3.4.0.jar
